@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
}
div.App{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 80% 10%;
    grid-template-areas: 'banner pesquisa'
                         'conteudo conteudo'
                         'pag pag';

    width: 90%;
    margin: 20px auto 0px;
}

.imagem{
    width: 90%;
    grid-area: banner;
    margin: 0 0 0 auto;
}

img.br-ba{
    width: 185px;
    text-align: start;
}

@media(max-width:500px){
    div.App{
        grid-template-columns: 1fr ;
        grid-template-rows: 20vh 10vh 65vh 5vh;
        grid-template-areas: 'banner'
                             'pesquisa'
                             'conteudo'
                             'pag';
    }

    .imagem{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    img.br-ba{
        width: 185px;
        text-align: center;
    }
}